body {
    background-color: rgb(179, 138, 34);
}

img {
    width: 250px;
    height: 250px;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
